<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/411b227d-0af2-4604-ab37-ff5945c82a27/resourcegroups/Default-ApplicationInsights-EastUS/providers/Microsoft.Web/sites/KnowMyneighbour20180420074914</ResourceId>
    <ResourceGroup>Default-ApplicationInsights-EastUS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://knowmyneighbour20180420074914.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>knowmyneighbour20180420074914.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>KnowMyneighbour20180420074914</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$KnowMyneighbour20180420074914</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:knowmyneighbour20180420074914dbserver.database.windows.net,1433;Initial Catalog=KnowMyneighbour20180420074914_db;User ID=loladeking@knowmyneighbour20180420074914dbserver;Password=Ishola1986@" Name="Data Source=tcp:knowmyneighbour20180420074914dbserver.database.windows.net,1433;Initial Catalog=KnowMyneighbour20180420074914_db;User Id=loladeking@knowmyneighbour20180420074914dbserver;Password=Ishola1986@" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="KnowMyneighbour.Models.ApplicationDbContext, KnowMyneighbour" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Entities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:knowmyneighbour20180420074914dbserver.database.windows.net,1433;Initial Catalog=KnowMyneighbour20180420074914_db;User ID=loladeking@knowmyneighbour20180420074914dbserver;Password=Ishola1986@" Name="Data Source=tcp:knowmyneighbour20180420074914dbserver.database.windows.net,1433;Initial Catalog=KnowMyneighbour20180420074914_db;User Id=loladeking@knowmyneighbour20180420074914dbserver;Password=Ishola1986@" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="KnowMyneighbour.Models.Entities, KnowMyneighbour" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnectionLocal" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:knowmyneighbour20180420074914dbserver.database.windows.net,1433;Initial Catalog=KnowMyneighbour20180420074914_db;User ID=loladeking@knowmyneighbour20180420074914dbserver;Password=Ishola1986@" Name="Data Source=tcp:knowmyneighbour20180420074914dbserver.database.windows.net,1433;Initial Catalog=KnowMyneighbour20180420074914_db;User Id=loladeking@knowmyneighbour20180420074914dbserver;Password=Ishola1986@" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\sqlexpress01;Initial Catalog=KnowMyNeighbour;User ID=loladeking;Password=ishola1986" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnectionLocal_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\sqlexpress01;initial catalog=KnowMyNeighbour;User ID=loladeking; Password=ishola1986" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EntitiesLocal" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:knowmyneighbour20180420074914dbserver.database.windows.net,1433;Initial Catalog=KnowMyneighbour20180420074914_db;User ID=loladeking@knowmyneighbour20180420074914dbserver;Password=Ishola1986@" Name="Data Source=tcp:knowmyneighbour20180420074914dbserver.database.windows.net,1433;Initial Catalog=KnowMyneighbour20180420074914_db;User Id=loladeking@knowmyneighbour20180420074914dbserver;Password=Ishola1986@" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\sqlexpress01;Initial Catalog=KnowMyNeighbour;User ID=loladeking;Password=ishola1986;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EntitiesLocal_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress01;initial catalog=KnowMyNeighbour;User ID=loladeking; Password=ishola1986;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="EntitiesLocal-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:knowmyneighbour20180420074914dbserver.database.windows.net,1433;initial catalog=KnowMyneighbour20180420074914_db;user id=loladeking@knowmyneighbour20180420074914dbserver;password=Ishola1986@;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnectionLocal-Web.config Connection String">
      <ParameterValue>Data Source=tcp:knowmyneighbour20180420074914dbserver.database.windows.net,1433;Initial Catalog=KnowMyneighbour20180420074914_db;User Id=loladeking@knowmyneighbour20180420074914dbserver;Password=Ishola1986@</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:knowmyneighbour20180420074914dbserver.database.windows.net,1433;Initial Catalog=KnowMyneighbour20180420074914_db;User Id=loladeking@knowmyneighbour20180420074914dbserver;Password=Ishola1986@"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:knowmyneighbour20180420074914dbserver.database.windows.net,1433;Initial Catalog=KnowMyneighbour20180420074914_db;User Id=loladeking@knowmyneighbour20180420074914dbserver;Password=Ishola1986@</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>